table {
  font-family: Verdana;
  font-size: 16px;
  border-collapse: collapse;
  width: 600px;
  font-weight: bold;
}

td, th {
  padding: 10px;
  text-align: left;
  margin: 0;
}

tbody tr:nth-child(2n){
  background-color: #eee;
  font-size: 14px;
}

th {
  position: sticky;
  top: 0;
  background-color: #333;
  color: white;
}


#DrawOverall {
    display: flex;
    flex-direction: row


}

#theDrawR1, #theDrawR2, #theDrawR3, #theDrawR4 {
    display: flex;
    width: 100px;
    height: 1200px;
    margin-left: 100px;
    flex-direction: column;
}

  .bottomOfTwo {
    display: flex;
    flex-direction: column;
    height: 30px;
    width: 100px;
    margin-bottom: 50px;

  }
  .topOfTwo {
    display: flex;
    flex-direction: column;
    height:30px;
    width: 100px;
    margin-top: 50px;

  }

  

  .bottomOfTwo2 {
    display: flex;
    flex-direction: column;
    height: 30px;
    width: 100px;
    margin-bottom: 130px;
    margin-left: 10px;
    
  }
  .topOfTwo2 {
    display: flex;
    flex-direction: column;
    height:30px;
    width: 100px;
    margin-top: 130px;
    margin-left: 10px

  }
  .bottomOfTwo3 {
    display: flex;
    flex-direction: column;
    height: 30px;
    width: 100px;
    margin-bottom: 285px;
    margin-left: 10px;
    
  }
  .topOfTwo3 {
    display: flex;
    flex-direction: column;
    height:30px;
    width: 100px;
    margin-top: 285px;
    margin-left: 10px

  }

  .theDrawR4 {
    display: flex;
    flex-direction: column;
    height:30px;
    width: 100px;
    margin-top: 300px;
    margin-left: 10px

  }

  #Scoreboard {
    display: flex;
    flex-direction: column;
    height:30px;
    width: 100px;
    margin-top: 20px;
    margin-left: 610px

  }


h1 {
  width: 1700px;
  text-align: center;
  text-shadow: 4px 4px rgb(168, 156, 156);
  color: #574291;
  font-size: 60px;
  

}
#chooseTournament {
  margin-left: 100px;
  width: 100px;
  height: 30px;
  font-size: 16px;


}